<html>
<head>
    <title>Add an event</title>
</head>
<body>
    <h2>Enter your information below to add your event</h2>
    <form action='/add_event' method='post'>
        <label for='event_name'>Event Name</label>
        <input id='event_name' name='event_name' type='text' required>
        <label for='date_event'>Date</label>
        <input id='date_event' name='date_event' type='text' required>
        <label for='location'>Location</label>
        <input id='location' name='location' type='text' required>
        <label for='description'>Description</label>
        <input id='description' name='description' type='text' required>

        <label for='name'>Your name</label>
        <input id='name' name='name' type='text' required>
        <label for='email'>Your email</label>
        <input id='email' name='email' type='text' required>
        <label for='phone'>Your phone</label>
        <input id='phone' name='phone' type='text' required>

        <!-- <label for='activity'>Please choose an activity category</label>
        {% if activities is not empty %}
        <select id='activity_name' name='activity_name' type='text'>
            {% for activity in activities %}
                <option value="{{ activity.getId }}"> {{ activity.getName }} </option>
            {% endfor %}
        </select>
        {% endif %} -->

        <button type='submit'>Add an event</button>
    </form>
</body>
</html>
