<html>
<head>
    <title>Edit this event</title>
</head>
<body>
    <h1> {{ event.getEventName }} </h1>
    <h2>Please re-enter your information</h2>
    <form  method='post'>
        <form class='form-horizontal' role='form' action='/event/{{ event.getId }}' method='post' role='form'>
            <div class='form-group'>
                <label for='event_name'>Event Name</label>
                <input id='event_name' name='event_name' type='text' required>
            </div>
            <div class='form-group'>
                <label for='date_event'>Date</label>
                <input id='date_event' name='date_event' type='text' required>
            <div class='form-group'>
                <label for='location'>Location</label>
                <input id='location' name='location' type='text' required>
            <div class='form-group'>
                <label for='description'>Description</label>
                <input id='description' name='description' type='text' required>
            </div>

            <div class='form-group'>
                <label for='name'>Your name</label>
                <input id='name' name='name' type='text' required>
            </div>
            <div class='form-group'>
                <label for='email'>Your email</label>
                <input id='email' name='email' type='text' required>
            </div>
            <div class='form-group'>
                <label for='phone'>Your phone</label>
                <input id='phone' name='phone' type='text' required>
            </div>

            <div class='form-group'>
                <label for='activities'>Please check the activity categories that this event falls under</label>
                <input type="checkbox" name="activity[]" value="1"/> Epi-coding<br/>
                <input type="checkbox" name="activity[]" value="2"/> Frolocking<br/>
                <input type="checkbox" name="activity[]" value="3"/> Swimming<br/>
                <input type="checkbox" name="activity[]" value="4"/> Outdoors<br/>
            </div>
        <button type='submit'>Edit</button>
    </form>

    <form action='/delete_event/{{ event.getId }}' method='post'>
          <input name="_method" type="hidden" value="delete">
          <button type='submit'>Delete this event</button>
    </form>
</body>
</html>
